@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comic+Relief:wght@400;700&family=Doto:wght,ROND@100..900,0..100&family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';


.pixelify-sans-500 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.orbitron-500 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mouse-memoirs-regular {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.doto-900 {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "ROND" 58;
}

.hero-container {
    position: relative;
    overflow: hidden;
    z-index: 10; /* content above background */
  }
  .orbitron-regular{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  