
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import 'tailwindcss';


.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.cal-sans-thin {
  font-family: "Cal Sans", sans-serif;
  font-style:italic;
}
.cal-sans-medium {
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.oleo-script-swash-caps-regular {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 400;
  font-style: italic;
}

.oleo-script-swash-caps-thin {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-style: italic;
}

.oleo-script-swash-caps-bold {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 700;
  font-style: italic;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
  font-style: italic;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 100;
  font-style: normal;
}

.libre-baskerville-regular-semi {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}




@keyframes upDownOscillate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.oscillate {
  animation: upDownOscillate 3s ease-in-out infinite;
}
